.btn{
    padding: 1em 2em;
    display: inline-block;
    background-color: $color-yellow;
    font-family: 'Fraunces', serif;
    
    @include desktop-only{
        background-color: $color-white;
        color:$color-darkBlue !important;
    }
}