.hero{
    background-image: url("../assets/Background-bleu-orange.png");
    //background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 96px;

    }
    

    &__title{
        font-size: 40px;
        font-weight: 900;
        color:$color-white;
        letter-spacing: 6.25px;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Fraunces', serif;
    }
}