.main-nav{
    margin: 32px 24px;
    display: flex;
    justify-content: space-between;
    position: relative;

    &__logo{
        height: 24px;
    }
 
    &__list{
        display: none;

        position: absolute;
        left: 0;
        right: 0;
        top:100%;
        margin-top: 52px;
        padding-bottom: 36px;

        background-color: $color-white;

        &::before{
            content :"";
            display: block;
            position: absolute;
            top:-26px;
            right: 0;
            width: 0;
            height: 0;
            border-bottom: 26px solid $color-white;
            border-left: 26px solid transparent;
        }
    }

    &__item{
        width: 100%;
        text-align: center;
    }

    &__link{
        display: inline-block;
        padding: 1em 2em;

        font-weight: 700;
        text-decoration: none;
        color:$color-grey;

        border-radius: 40px;
    }

    &:hover &__list{ //Quand on passe sur la nav
        
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }



    

   
    



}