.underline{
    position: relative;
    &::after{
        content: '';
        display: block;
        right: -5px;
        left: -5px;
        height: 10px;
        border-radius: 10px;
        position: absolute;
        bottom:0;
        z-index: -1;


        


        
    }

    &-yellow{
        &::after{
            @include background-opacity($color-yellow,0.25);
        }

        }

        &-orange{
            &::after{
                @include background-opacity($color-orange,0.25);
            }
            }

    &:hover &::after{
        @include background-opacity($color-yellow,1);
    }
}