.services{
    display: flex;
    flex-direction: column;

    @include desktop-only{
        flex-direction: row;
        flex-wrap: wrap;
    }

    color: $color-veryDarkGrayishBlue;

    text-align: center;

    &__item{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include desktop-only{
            width: 50%;
        }
        
        &__img{
            width: 100%;
        }

        &__title{
            font-size: 32px;
            font-weight: 900;
            font-family: $font1;
            
            margin: 24px ;
        }

        &__text{
        }

        &__link{
            font-size: 15px;
            font-family: font1;
            text-decoration: none;
            color: $color-darkGrayishBlue;
            font-weight: 900;
        }
    }
}