/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

body {
  font-family: "Barlow", sans-serif;
  font-size: 16px; }

.container {
  width: 100%; }

.underline {
  position: relative; }
  .underline::after {
    content: '';
    display: block;
    right: -5px;
    left: -5px;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    z-index: -1; }
  .underline-yellow::after {
    background: rgba(250, 212, 0, 0.25); }
  .underline-orange::after {
    background: rgba(254, 119, 102, 0.25); }
  .underline:hover .underline::after {
    background: #fad400; }

.btn {
  padding: 1em 2em;
  display: inline-block;
  background-color: #fad400;
  font-family: 'Fraunces', serif; }
  @media screen and (min-width: 480px) {
    .btn {
      background-color: white;
      color: #19536b !important; } }

.topHeader {
  position: absolute;
  width: 100%; }

.main-nav {
  margin: 32px 24px;
  display: flex;
  justify-content: space-between;
  position: relative;
  /*
  &:hover &__list{ //Quand on passe sur la nav
      
      display: flex;
      flex-direction: column;
      align-items: center;
      
  }*/ }
  .main-nav__logo {
    height: 24px; }
  .main-nav__menuIcon {
    cursor: pointer; }
    @media screen and (min-width: 480px) {
      .main-nav__menuIcon {
        display: none; } }
  .main-nav__list {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 52px;
    padding-bottom: 36px;
    background-color: white; }
    @media screen and (max-width: 480px) {
      .main-nav__list-actif {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    .main-nav__list::before {
      content: "";
      display: block;
      position: absolute;
      top: -26px;
      right: 0;
      width: 0;
      height: 0;
      border-bottom: 26px solid white;
      border-left: 26px solid transparent; }
    @media screen and (min-width: 480px) {
      .main-nav__list {
        display: flex;
        position: static;
        background-color: transparent;
        margin: 0;
        padding: 0; }
        .main-nav__list::before {
          display: none; } }
  .main-nav__item {
    width: 100%;
    text-align: center; }
  .main-nav__link {
    display: inline-block;
    padding: 1em 2em;
    font-weight: 700;
    text-decoration: none;
    color: #808397;
    border-radius: 40px; }
    @media screen and (min-width: 480px) {
      .main-nav__link {
        font-weight: 700; } }
  @media screen and (min-width: 480px) {
    .main-nav {
      justify-content: space-between;
      align-items: center; } }

.hero {
  background-image: url("../assets/Background-bleu-orange.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; }
  .hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 96px; }
  .hero__title {
    font-size: 40px;
    font-weight: 900;
    color: white;
    letter-spacing: 6.25px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Fraunces', serif; }

.services {
  display: flex;
  flex-direction: column;
  color: #5a636c;
  text-align: center; }
  @media screen and (min-width: 480px) {
    .services {
      flex-direction: row;
      flex-wrap: wrap; } }
  .services__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 480px) {
      .services__item {
        width: 50%; } }
    .services__item__img {
      width: 100%; }
    .services__item__title {
      font-size: 32px;
      font-weight: 900;
      font-family: "Fraunces", serif;
      margin: 24px; }
    .services__item__link {
      font-size: 15px;
      font-family: font1;
      text-decoration: none;
      color: #818498;
      font-weight: 900; }

/*# sourceMappingURL=style.css.map */
